<div class= "navbar">
    <div class= "home">
        <%= link_to 'Home', root_url %>
    </div>
    <div class="pages">
        <%= link_to 'My Blog', controller: 'articles' %> |
        <%= link_to 'New article', new_article_path %>
    </div>
</div>